<main class="page-content">
  <!--Start section-->
  <section class="text-center text-md-left offset-1" style="text-align: center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 section-border">
          <article class="well">
            <h1 id="title">Customization #<%= @customization.id%> by <%= @customization.user.name%></h1>
            <div class="blog-info">
              <div class="pull-md-left">
                <time datetime="2015" class="meta fa-calendar"><%= @created_at %></time><a class="badge fa-comments text-uppercase font-secondary"><%= @customization.comments.length %> comments</a>
              </div>
            </div>
            
            <div id="carmodel">
              
            </div>

        <div class="col-xs-12 text-center text-md-left section-border well">
          <h5 id="title" class="center"><%= @customization.comments.length %> Comments</h5>
          <div class="row comments">
            <% @customization.comments.each do |comment|%>
              <div class="col-xs-12">
              <blockquote class="box-sm">
                <div class="box__left text-center"></div>
                <div class="box__body box__middle btn-shadow round-small">
                  <h6 id="title"><%= comment.user.name %></h6>
                  <time datetime="2015" class="meta">on <%= comment.created_at.strftime("%b %e, %l:%M %p") %></time>
                  <p class="big text-light-clr"><%= comment.comment %></p>
                </div>
              </blockquote>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="well well-inset-2">
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-xs-12">
          <h5 class="text-bold text-center text-md-left" id="title" style="text-align: center">Leave a Comment</h5>
            <%= form_tag "/comments", method: "post" do %>
            <%= label_tag :comment, "Comment: " %>
            <%=  text_field_tag :comment %>
            <%=  hidden_field_tag :customization_id, @customization.id%>
            <%=  submit_tag 'submit' %>
            <% end %>
        </div>
      </div>
      <div class="col-xs-12 text-center text-md-left well">
          <h5 id="title">Other customizations by this User:</h5>
          <div class="row no-offset">
            <% @user_customizations.each do |customization|%>
              <div class="col-sm-6 col-md-4">
              <article class="thumbnail thumbnail-4 section-border well"><img src="<%= customization.car.image %>" alt="">
                <div class="caption">
                  <h4 id="title"><a href="/customizations/<%= customization.id %>">Customization #<%= customization.id %></a></h4>
                  <div class="blog-info">
                    <div class="pull-md-left">
                      <time datetime="2015" class="meta fa-calendar"><%= customization.created_at.strftime("%b %e, %l:%M %p") %></time><a href="#" class="badge fa-comments font-secondary"><%= customization.comments.length %></a>
                    </div><a href="/customizations/<%= customization.id %>" class="btn-link">Read More</a>
                  </div>
                </div>
              </article>
              </div>
            <% end %>
            </div>
          </div>
      </div>
    </div>
  </section>
</main>

<script type="text/javascript">
  /* global THREE */
  var scene = new THREE.Scene();

  var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 100);
  camera.position.x = -4;
  camera.position.y = 2;
  camera.position.z = 1;

  var light = new THREE.SpotLight();
  light.position.set( 100, 5000, 100);
  light.intensity = 5;
  scene.add( light );

  var mtlLoader = new THREE.MTLLoader();

  function loadMaterial( materials ) {
    
    materials.preload();

    var loader = new THREE.OBJLoader();
    loader.setMaterials( materials );
    loader.load( '/car_models/<%= @customization.car.make %>', function(object) {
      scene.add(object);
      //object.position = new THREE.Vector3(100, 100, 100);
      document.getElementById("threejs").style["display"] = "";
    });

  }

  mtlLoader.load("/car_models/<%= @customization.color %>", loadMaterial);

  var renderer = new THREE.WebGLRenderer();
  renderer.setPixelRatio( window.devicePixelRatio );
  renderer.setSize( window.innerWidth / 1.5, window.innerHeight / 1.5);
  renderer.setClearColor(new THREE.Color("hsl(0, 0%, 83%)"));
  document.getElementById("carmodel").appendChild( renderer.domElement );

  var zoom = new THREE.TrackballControls( camera, renderer.domElement );
  var orbit = new THREE.OrbitControls( camera, renderer.domElement );

  function render() {
    requestAnimationFrame( render );
    zoom.update();
    orbit.update();
    renderer.render( scene, camera );

    scene.children[1].rotation.y = Date.now() * 0.0005;
  }

  render();
</script>