<main class="page-content">
  <!--Start section-->
  <section class="text-center text-md-left well well-sm">
    <div class="container">
      <article class="team-member row flow-offset-1">
        <div class="col-sm-12 col-md-6 pull-md-right"><img src="http://article.images.consumerreports.org/prod/content/dam/cro/news_articles/cars/CR-Cars-Inline-Tesla-Model-X-Right-Doors-05-16.jpg" alt="" class="img-rounded"></div>
        <div class="col-sm-12 col-md-6">
          <h1 id="title"><%= @user.name %></h1>
          <p class="small text-light-clr text-uppercase"><%= @user.customizations.length %> customization(s)</p>
          <div data-isotope-layout="masonry" data-isotope-group="gallery" data-lightbox="gallery" class="row isotope offset-1">
              <% @user_customizations.each do |customization| %>
                <div data-filter="type-1" class="col-xs-6 col-sm-6 col-md-4">
                <div class="thumbnail-variant-2 thumbnail-4 text-center"><a href="<%= customization.car.image %>" data-lightbox="image"><img src="<%= customization.car.image %>" alt="">
                    <div class="caption">
                      <h4 class="text-white"><%= customization.car.model %></h4>
                    </div></a><a href="/customizations/<%= customization.id %>" class="icon icon-sm text-white fa-chain"></a></div>
              </div>
              <% end %>
          </div>
          <ul class="list-inline list-inline-3">
            <li><a href="https://facebook.com" class="fa-facebook-square"></a></li>
            <li><a href="https://twitter.com" class="fa-twitter-square"></a></li>
            <li><a href="https://google.com" class="fa-google-plus-square"></a></li>
          </ul>
        </div>
      </article>
    </div>
  </section>
  <!--End section-->
</main>