<main class="page-content">
  <!--Start section-->
  <section class="well well-sm section-border single-product">
    <div class="container">
      <div class="row product">
        <div class="col-md-7 text-center">
        
        <div id="threejs">
        </div>
        
        </div>
        <div class="col-md-5 text-center text-md-left">
          <h1 class="text-bold h1-variant-2" id="title"><%= @car.model %></h1></a><a href="/customizations" class="text-light-clr"><%= @car.customizations.length %> customizations created</a>
          <div class="big offset-6 line-height-2">

            <p id="title">Color: <button onclick="changeColorToDefault()">Default</button><button onclick="changeColorToOne()">One</button><button onclick="changeColorToTwo()">Two</button><button onclick="changeColorToThree()">Three</button><button onclick="changeColorToFour()">Four</button><br></br></p>

            <%= form_tag '/customizations', method: :post do%>
              <div>
              <%= hidden_field_tag(:color, "redavent.mtl") %>
              </div>
              <div>
              <%= label_tag :wheels, 'Wheels: ' %>
              <%= text_field_tag :wheels %>
              <br></br>
              </div>
              <div>
              <%= label_tag :rims, 'Rims: ' %>
              <%= text_field_tag :rims %>
              <br></br>
              </div>
              <div>
              <%= hidden_field_tag :car_id, @car.id %>
              </div>
              <div>
              <%= submit_tag 'Submit' %>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End section-->
  
  

  <!--Start section-->
  <section class="text-center well well-sm">
    <div class="container">
      <h4 class="text-dark-variant-4">Other Cars</h4>
      <div class="row flow-offset-1 offset-5">
        <% @cars.each do |car|%>
          <div class="col-xs-6 col-md-3">
          <div class="product tumbnail thumbnail-3"><a href="/cars/<%= car.id %>"><img src="<%= car.image %>" alt=""></a>
            <div class="caption">
              <h6><a href="/cars/<%= car.id %>"><%= car.model %></a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <!--End section-->
  
  
</main>

<script type="text/javascript">
  /* global THREE */
  var scene = new THREE.Scene();

  var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 100);
  camera.position.x = -4;
  camera.position.y = 2;
  camera.position.z = 1;

  var light = new THREE.SpotLight();
  light.position.set( 100, 1000, 100);
  light.intensity = 4;
  scene.add( light );

  var directionalLight = new THREE.DirectionalLight( 0xffffff, 0.5 );
  scene.add( directionalLight );

  var mtlLoader = new THREE.MTLLoader();

  function loadMaterial( materials ) {
    
    materials.preload();

    var loader = new THREE.OBJLoader();
    loader.setMaterials( materials );
    loader.load( '/car_models/<%= @car.make %>', function(object) {
      scene.add(object);
      //object.position = new THREE.Vector3();
      document.getElementById("threejs").style["display"] = "";

      function alertPos() {
        scene.updateMatrixWorld(true);
        var position = new THREE.Vector3();
        position.getPositionFromMatrix( object.matrixWorld );
        alert(position.x + ',' + position.y + ',' + position.z);
      }
    });

  }

  mtlLoader.load("/car_models/<%= @car.default_color %>", loadMaterial);

  var renderer = new THREE.WebGLRenderer();
  renderer.setPixelRatio( window.devicePixelRatio );
  renderer.setSize( window.innerWidth / 2, window.innerHeight / 1.5);
  renderer.setClearColor(new THREE.Color("hsl(0, 0%, 83%)"));
  document.getElementById("threejs").appendChild( renderer.domElement );

  var zoom = new THREE.TrackballControls( camera, renderer.domElement );
  var orbit = new THREE.OrbitControls( camera, renderer.domElement );

  function render() {
    requestAnimationFrame( render );
    zoom.update();
    orbit.update();
    renderer.render( scene, camera );
  }

  render();

  function changeColorToDefault() {
    document.getElementById("threejs").style["display"] = "none";
    mtlLoader.load("/car_models/<%= @car.default_color %>", loadMaterial);
    document.getElementById("color").value = "<%= @car.default_color %>";
  }

  function changeColorToOne() {
    document.getElementById("threejs").style["display"] = "none";
    mtlLoader.load("/car_models/<%= @car.color_one %>", loadMaterial);
    document.getElementById("color").value = "<%= @car.color_one %>";
  }

  function changeColorToTwo() {
    document.getElementById("threejs").style["display"] = "none";
    mtlLoader.load("/car_models/<%= @car.color_two %>", loadMaterial);
    document.getElementById("color").value = "<%= @car.color_two %>";
  }

  function changeColorToThree() {
    document.getElementById("threejs").style["display"] = "none";
    mtlLoader.load("/car_models/<%= @car.color_three %>", loadMaterial);
    document.getElementById("color").value = "<%= @car.color_three %>";
  }

  function changeColorToFour() {
    document.getElementById("threejs").style["display"] = "none";
    mtlLoader.load("/car_models/<%= @car.color_four %>", loadMaterial);
    document.getElementById("color").value = "<%= @car.color_four %>";
  }
</script>